@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100;
  -webkit-text-size-adjust: 100;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------*/
/*Base*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Header*/
.header {
  position: relative;
  padding: 80px 0px;
  border-radius: 0 0 100px 0;
  background-color: #000;
  color: #fff;
}

.header .container {
  position: relative;
  z-index: 9;
}

.header-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.3;
  border-radius: 0 0 100px 0;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.header-img {
  border-radius: 80px;
}

.header-title {
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 700;
}

.header-text {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 26px;
}

.header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.btn {
  height: 48px;
  padding: 15px 25px;
  background-color: #000000;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background-color: #1782CF;
}

.btn-outline {
  height: 48px;
  padding: 15px 25px;
  border: 1px solid #3B3B3B;
  border-radius: 8px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 16px;
}

.btn-outline:hover {
  border-color: #1782CF;
}

/*PORTFOLIO*/
.portfolio {
  padding: 80px 0px;
}

.portfolio-title {
  margin-bottom: 65px;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  text-align: center;
}

.project-img {
  border-radius: 30px;
  margin-bottom: 30px;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.project-img:hover {
  opacity: 0.8;
}

.project-title {
  font-size: 22px;
}

.project-title a {
  color: #000000;
  text-decoration: underline;
}

/*CONTACTS*/
.contacts {
  padding: 80px 0px;
  background-color: #252525;
  border-top-left-radius: 100px;
  color: #fff;
}

.contacts-title {
  margin-bottom: 65px;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
}

.messangers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.messanger {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  border: 1px solid #363636;
  padding: 46px 20px;
  color: #fff;
  font-size: 20px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.messander:hover {
  background-color: #1E1E1E;
}

/*FOOTER*/
.footer {
  background-color: #1E1E1E;
  padding: 30px 0;
  color: #5D5D5D;
}

.footer a {
  color: #5886A8;
}

.footer-inner {
  font-size: 14px;
  text-align: center;
}

.footer-inner p + p {
  margin-top: 15px;
}

/* INNER PAGE*/
.inner-page {
  padding: 80px 0px 40px;
}

.inner-page-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 25px;
  margin-bottom: 40px;
  text-align: center;
}

.inner-page-title {
  font-size: 52px;
  font-weight: 700;
}

.inner-page-text {
  max-width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  color: #555555;
  line-height: 1.5;
  font-size: 15px;
}

.inner-page-link {
  color: #000;
}

.inner-page-link a {
  color: #000;
  text-decoration: underline;
}

.inner-page-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.inner-page-backlink {
  max-width: 770px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: #F1F1F1;
  text-align: center;
  color: #000;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.inner-page-backlink:hover {
  background-color: #dedede;
}